<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="imdb" connectionString="Server=54.186.104.127;Database=imdb;Uid=root;Pwd=405project"/>
    <add name="dblp" connectionString="Server=54.186.104.127;Database=dblp;Uid=root;Pwd=405project"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
